---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Quiz from '../components/Quiz.astro'
---

<Layout title="Welcome to Kanaquiz!">
	<Header />
	<main class="m-auto text-xl">
		<Quiz />
	</main>
</Layout>
<script>
	// Hover function on the "choose-row" divs:
	var data_kana_elements = document.querySelectorAll('[data-kana]')
	data_kana_elements.forEach((element) => {
		// On Mouse Over change the text to the kana version
		element.addEventListener('mouseover', (event) => {
			element.innerHTML = element.getAttribute('data-kana')
		})

		// On Mouse Over change the text to the romaji version
		element.addEventListener('mouseout', (event) => {
			element.innerHTML = element.getAttribute('data-romaji')
		})
	})
</script>
