---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Header from '../components/Header.astro'
---

<Layout title="Welcome to Kanaquiz!">
	<Header />
	<main class="m-auto text-xl">
		<form action="">
			<h1 class="mb-4 text-center text-6xl font-bold">
				Welcome to <span class="text-green-500">Kanaquiz</span>
			</h1>
			<p class="mb-8 p-6 text-center">
				Please <strong>choose</strong> the groups of characters that you'd like to be studying.
			</p>

			<!-- Group of Characters -->
			<div class="mb-4 grid grid-cols-1 gap-8 sm:grid-cols-2">
				<div
					class="relative divide-y-2 divide-gray-200 overflow-hidden rounded-lg border-2 dark:divide-gray-400 dark:border-gray-400"
				>
					<!-- Panel Header -->
					<div class="bg-zinc-200 p-3 text-center dark:bg-zinc-800">
						<span class="font-bold">Hiragana · ひらがな</span>
					</div>

					<!-- Panel Body -->
					<div class="p-3">
						<div class="choose-row">
							<label>
								<input type="checkbox" class="accent-green-500" />
								<span>a · i · u · e · o</span>
							</label>
						</div>
					</div>

					<!-- Panel Footer -->
					<div class="bg-zinc-200 p-3 text-center dark:bg-zinc-800">
						<a href="javascript:;">All</a>
						<span>&nbsp;&middot;&nbsp;</span>
						<a href="javascript:;">None</a>
						<span>&nbsp;&middot;&nbsp;</span>
						<a href="javascript:;">All alternative</a>
						<span>&nbsp;&middot;&nbsp;</span>
						<a href="javascript:;">No alternative</a>
					</div>
				</div>

				<div
					class="relative divide-y-2 divide-gray-200 overflow-hidden rounded-lg border-2 dark:divide-gray-400 dark:border-gray-400"
				>
					<!-- Panel Header -->
					<div class="bg-zinc-200 p-3 text-center dark:bg-zinc-800">
						<span class="font-bold">Katakana · カタカナ</span>
					</div>

					<!-- Panel Body -->
					<div class="p-3">
						<div class="choose-row">
							<label>
								<input type="checkbox" class="accent-green-500" />
								<span>a · i · u · e · o</span>
							</label>
						</div>
					</div>

					<!-- Panel Footer -->
					<div class="bg-zinc-200 p-3 text-center dark:bg-zinc-800">
						<a href="javascript:;">All</a>
						<span>&nbsp;&middot;&nbsp;</span>
						<a href="javascript:;">None</a>
						<span>&nbsp;&middot;&nbsp;</span>
						<a href="javascript:;">All alternative</a>
						<span>&nbsp;&middot;&nbsp;</span>
						<a href="javascript:;">No alternative</a>
					</div>
				</div>
			</div>

			<!-- Start the quiz -->
			<div class="p-6 text-center">
				<button
					class="rounded-md bg-zinc-400 p-2 px-4 transition-transform hover:scale-105 dark:bg-zinc-500"
				>
					<span class="text-zinc-100">Start the Quiz!</span>
				</button>
			</div>
		</form>
	</main>
</Layout>
