---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Quiz from '../components/Quiz.astro'
---

<Layout title="Welcome to Kanaquiz!">
	<Header />
	<main class="m-auto text-xl">
		<Quiz />
	</main>
</Layout>
