---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Stage0 from '../components/Stage0.astro'
---

<Layout title="Welcome to Kanaquiz!">
	<Header />
	<main class="m-auto text-xl">
		<Stage0 />
	</main>
</Layout>
