---
import ThemeButton from "../components/ThemeButton.astro";
---

<nav class="mb-4">
  <div class="flex flex-wrap items-center justify-between mx-auto py-4">
    <a
      href="/"
      class="flex items-center space-x-2 rtl:space-x-reverse hover:scale-105 font-bold transition-transform"
    >
      <span class="self-center text-2xl whitespace-nowrap text-green-500">
        あ
      </span>
      <span class="self-center text-2xl whitespace-nowrap">KanaQuiz</span>
    </a>
    <div class="block w-auto" id="navbar-default">
      <ul class="flex-row space-x-8 rtl:space-x-reverse mt-0 border-0">
        <li>
          <ThemeButton />
        </li>
      </ul>
    </div>
  </div>
</nav>
